@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla;
}
html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 400px;

    background-color: rgb(231, 255, 252);
}

.card-container{
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 680px;
    box-shadow: 0px 5px 10px -4px hsl(60, 39%, 28%);
}

.top-box-container{
    background-color: white;
    padding: 40px 30px 40px 30px;
}
.top-box-container h2{
    margin-bottom: 20px;
    color: hsl(179, 62%, 43%);
}
.top-box-container .sub-header{
    margin-bottom: 10px;
    font-size: 18px;
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}
.sub-header+p{
    margin-bottom: 5px;
    color: hsl(218, 22%, 67%);
}
.sub-header+p+p{
    margin-bottom: 5px;
    color: hsl(218, 22%, 67%);
}

.bottom-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bottom-box-container>*{
    padding: 40px;
}
.left-container{
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 62%, 43%);
}
.left-container>header{
    color: hsl(204, 43%, 93%);
    margin-bottom: 15px;
}
.left-container>header>h4{
    font-size: 20px;
}
.left-container>.subscription{
    display: flex;
    align-items: center;
}
.subscription{
    margin-bottom: 10px;
}
.subscription>h1{
    color: white;
}
.subscription>p{
    margin-left: 15px;
    color: hsl(204, 43%, 93%);
    opacity: 60%;
}
.subscription+p{
    color: hsl(204, 43%, 93%);
}
.left-container>a{
    width: 100%;
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    align-self: center;
    box-shadow: 0 3px 10px -3px hsl(0, 0%, 30%);
    color: white;
    text-decoration: none;
}
.left-container>a:hover{
    background-color: hsl(71, 89%, 65%);
}


.right-container{
    background-color: hsl(179, 58%, 56%);
    display: flex;
    flex-direction: column;
}
.right-container>header{
    margin-bottom: 15px;   
    color: hsl(204, 43%, 93%);
}
.right-container>header>h4{
    font-size: 20px;
}
.right-container>p{
    color: hsl(204, 43%, 93%);
    opacity: 80%;
    line-height: 20px;
}

@media screen and (max-width:700px){

    .card-container{
        margin-top: auto;
        margin: auto 30px;
    }

    .bottom-box-container{
        grid-template-columns: 1fr;
    }


}